a
  display: flex
  flex-direction: column
  align-items: center
  text-decoration: none
  color: inherit

  img
    height: 3em
    width: 3em
    padding: 1em


  &:hover
    img
      transform: scale(1.2)

