<form [formGroup]="itemForm" (submit)="submitForm($event)" gdAreas="name name name | unit price tax | save save save"
      gdColumns="3fr 3fr 3fr" gdGap="1em">
  <div gdArea="name">
    <mat-form-field>
      <mat-label i18n="@@item.name">Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
  </div>
  <div gdArea="unit">
    <mat-form-field>
      <mat-label i18n="@@item.unit">Unit</mat-label>
      <input matInput formControlName="unit" required>
    </mat-form-field>
  </div>
  <div gdArea="price">
    <mat-form-field>
      <mat-label i18n="@@item.price">Price</mat-label>
      <input matInput formControlName="price" required type="number">
    </mat-form-field>
  </div>
  <div gdArea="tax">
    <mat-form-field>
      <mat-label i18n="@@item.tax">Tax</mat-label>
      <mat-select matInput formControlName="tax" required>
        <mat-option *ngFor="let tax of [0,5,8,23]" [value]="tax">{{tax}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div gdArea="save" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1em">
    <button mat-raised-button type="button" i18n="@@common.cancel" (click)="back($event)">Cancel</button>
    <button mat-raised-button color="primary" type="submit" i18n="@@common.save" [disabled]="!itemForm.valid">Save</button>
  </div>
</form>
