<form [formGroup]="itemForm" (submit)="submitForm($event)" gdAreas="name name name | unit price tax | save save save"
      gdColumns="3fr 3fr 3fr" gdGap="1em">
  <div gdArea="name">
    <mat-form-field>
      <mat-label>{{'item.name' | translate}}</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
  </div>
  <div gdArea="unit">
    <mat-form-field>
      <mat-label>{{'item.unit' | translate}}</mat-label>
      <input matInput formControlName="unit" required>
    </mat-form-field>
  </div>
  <div gdArea="price">
    <mat-form-field>
      <mat-label>{{'item.price' | translate}}</mat-label>
      <input matInput formControlName="price" required type="number" min="0">
    </mat-form-field>
  </div>
  <div gdArea="tax">
    <mat-form-field>
      <mat-label>{{'item.tax' | translate}}</mat-label>
      <mat-select matInput formControlName="tax" required>
        <mat-option *ngFor="let tax of [0,5,8,23]" [value]="tax">{{tax}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div gdArea="save" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1em">
    <button mat-raised-button type="button" (click)="back($event)">{{'common.cancel' | translate}}</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!itemForm.valid">{{'common.save' | translate}}</button>
  </div>
</form>
