<invoice-context-menu (delete)="delete($event)" [addLabel]="'invoice.menu.add' | translate" [deleteLabel]="'invoice.menu.delete' | translate" addLink="/invoices/add">
</invoice-context-menu>

<invoice-page-header [title]="'invoice.list.title' | translate" [hint]="'invoice.list.hint' | translate" [list]="true"></invoice-page-header>
<invoice-grid-layout (contextmenu)="contextMenu.openMenu($event, null)">
  <invoice-dock-item text=".." icon="folder" link="../"></invoice-dock-item>
  <invoice-dock-item *ngFor="let inv of invoices" [text]="inv.id" icon="invoice" [link]="['.', inv.id]"
                     (contextmenu)="contextMenu.openMenu($event, inv, inv.id + '/' + inv.month + '/' + inv.year)"></invoice-dock-item>
</invoice-grid-layout>
