<form (submit)="submitForm($event)" *ngIf="loaded" class="invoice-form" gdColumns="1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr">

  <invoice-invoice-form-info class="contents" [invoiceForm]="invoiceForm" [readonly]="readonly" [row]="1"></invoice-invoice-form-info>

  <invoice-invoice-form-spacing class="contents" [row]="3"></invoice-invoice-form-spacing>

  <invoice-invoice-form-parties class="contents" [invoiceForm]="invoiceForm" [readonly]="readonly" [row]="4" [object]="object"></invoice-invoice-form-parties>

  <invoice-invoice-form-spacing class="contents" [row]="5"></invoice-invoice-form-spacing>

  <invoice-invoice-form-items class="contents" [invoiceForm]="invoiceForm" [readonly]="readonly" [row]="6" [object]="object"></invoice-invoice-form-items>

  <invoice-invoice-form-spacing class="contents" [row]="items + 8"></invoice-invoice-form-spacing>

  <invoice-invoice-form-payment class="contents" [invoiceForm]="invoiceForm" [row]="(items + 9) + '/ span ' + (totals + 4)"></invoice-invoice-form-payment>

  <invoice-invoice-form-totals class="contents" [invoiceForm]="invoiceForm" [row]="items + 9"></invoice-invoice-form-totals>

  <invoice-invoice-form-spacing class="contents" [row]="items + totals + 12" [size]="5"></invoice-invoice-form-spacing>

  <invoice-invoice-form-signatures class="contents" [invoiceForm]="invoiceForm" [row]="items + totals + 13"></invoice-invoice-form-signatures>

  <invoice-invoice-form-spacing class="contents" [row]="items + totals + 14"></invoice-invoice-form-spacing>

  <div gdColumn="1 / span 11" [gdRow]="items + totals + 15" fxLayout="row" fxLayoutAlign="end"
       fxLayoutGap="1em" class="last">
    <button mat-raised-button type="button" (click)="back($event)">{{'common.cancel' | translate}}</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!invoiceForm.valid">{{'common.save' | translate}}
    </button>
  </div>
</form>
