<form [formGroup]="invoiceForm" (submit)="submitForm($event)" gdColumns="1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr"
      *ngIf="loaded" class="invoice-form">
  <div gdColumn="7 / span 2" gdRow="1">
    <mat-form-field>
      <mat-label i18n="@@invoice.document">Document type</mat-label>
      <input matInput readonly value="Faktura VAT">
    </mat-form-field>
  </div>
  <div gdColumn="10 / span 2" gdRow="1" class="last">
    <mat-form-field>
      <mat-label i18n="@@invoice.issueDate">Issue date</mat-label>
      <input matInput formControlName="issueDate" required type="date" [readonly]="readonly">
    </mat-form-field>
  </div>
  <div gdColumn="7 / span 2" gdRow="2">
    <mat-form-field>
      <mat-label i18n="@@invoice.number">Number</mat-label>
      <input matInput readonly
             [value]="invoiceForm.get('id')?.value + '/' + invoiceForm.get('month')?.value + '/' + invoiceForm.get('year')?.value">
    </mat-form-field>
  </div>
  <div gdColumn="10 / span 2" gdRow="2" class="last">
    <mat-form-field>
      <mat-label i18n="@@invoice.invoiceDate">Invoice date</mat-label>
      <input matInput formControlName="invoiceDate" required type="date" [readonly]="readonly">
    </mat-form-field>
  </div>
  <div gdColumn="1 / span 6" gdRow="3" class="first invoice-company">
    <mat-form-field>
      <mat-label i18n="@@invoice.seller">Seller</mat-label>
      <input matInput readonly [value]="seller?.name">
    </mat-form-field>
    <div class="mat-small">
      <div>{{seller?.street}}</div>
      <div>{{seller?.zip}} {{seller?.city}}</div>
      <div><span i18n="@@company.tin" *ngIf="seller">NIP: </span>{{seller?.tin}}</div>
    </div>
  </div>
  <div gdColumn="7 / span 5" gdRow="3" class="last invoice-company">
    <mat-form-field>
      <mat-label i18n="@@invoice.buyer">Buyer</mat-label>
      <input matInput readonly [value]="invoiceForm.get('buyer')?.value?.name" *ngIf="readonly">
      <mat-select matInput formControlName="buyer" required *ngIf="!readonly">
        <mat-option *ngFor="let comp of companies" [value]="comp">{{comp.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="mat-small">
      <div>{{invoiceForm.get('buyer')?.value?.street}}</div>
      <div>{{invoiceForm.get('buyer')?.value?.zip}} {{invoiceForm.get('buyer')?.value?.city}}</div>
      <div><span i18n="@@company.tin"
                 *ngIf="invoiceForm.get('buyer')?.value">NIP: </span>{{invoiceForm.get('buyer')?.value?.tin}}</div>
    </div>
  </div>
  <div gdColumn="1" gdRow="4" class="p-0 border-left border-top border-bottom table-header" fxLayout="row"
       fxLayoutAlign="center center">
    <div class="mat-icon-button" *ngIf="readonly" i18n="@@invoice.idx">Idx</div>
    <button mat-icon-button color="white" (click)="addItem()" aria-label="Add new item"
            aria-label-i18n="@@invoice.addItem" type="button" *ngIf="!readonly">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div i18n="@@invoice.item" gdColumn="2 / span 4" gdRow="4" fxLayout="row" fxLayoutAlign="start center"
       class="border-top border-bottom font-weight-bold table-header">Item or service
  </div>
  <div i18n="@@invoice.qty" gdColumn="6" gdRow="4" fxLayout="row" fxLayoutAlign="start center"
       class="border-top border-bottom font-weight-bold table-header">Qty
  </div>
  <div i18n="@@invoice.price" gdColumn="7" gdRow="4" fxLayout="row" fxLayoutAlign="end center"
       class="border-top border-bottom font-weight-bold table-header">Price
  </div>
  <div i18n="@@invoice.net" gdColumn="8" gdRow="4" fxLayout="row" fxLayoutAlign="end center"
       class="border-top border-bottom font-weight-bold table-header">Net
  </div>
  <div i18n="@@invoice.rate" gdColumn="9" gdRow="4" fxLayout="row" fxLayoutAlign="end center"
       class="border-top border-bottom font-weight-bold table-header">Rate
  </div>
  <div i18n="@@invoice.tax" gdColumn="10" gdRow="4" fxLayout="row" fxLayoutAlign="end center"
       class="border-top border-bottom font-weight-bold table-header">Tax
  </div>
  <div i18n="@@invoice.gross" gdColumn="11" gdRow="4" fxLayout="row" fxLayoutAlign="end center"
       class="border-top border-bottom border-right font-weight-bold table-header">Gross
  </div>

  <ng-container formArrayName="items" *ngFor="let item of items.controls; let itemIndex=index">
    <ng-container [formGroupName]="itemIndex">
      <div gdColumn="1" [gdRow]="5 + itemIndex" class="p-0 border-left border-bottom" fxLayout="row"
           fxLayoutAlign="center center">
        <button mat-icon-button color="primary" (click)="deleteItem(itemIndex)" aria-label="Delete item"
                aria-label-i18n="@@invoice.deleteItem" type="button" *ngIf="!readonly">
          <mat-icon>delete</mat-icon>
        </button>
        <span *ngIf="readonly">{{itemIndex + 1}}.</span>
      </div>
      <div gdColumn="2 / span 4" [gdRow]="5 + itemIndex" class="border-bottom invoice-item">
        <mat-form-field>
          <input matInput readonly [value]="item.value.item.name" *ngIf="readonly" class="item-form-field">
          <mat-select matInput formControlName="item" required *ngIf="!readonly" class="item-form-field">
            <mat-option *ngFor="let opt of options" [value]="opt">{{opt.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div gdColumn="6" [gdRow]="5 + itemIndex" class="border-bottom invoice-item">
        <mat-form-field>
          <input matInput readonly [value]="item.value.qty" *ngIf="readonly">
          <input type="number" matInput formControlName="qty" required *ngIf="!readonly"/>
          <span matSuffix>{{item.get('item')?.value?.unit}}</span>
        </mat-form-field>
      </div>
      <div gdColumn="7" [gdRow]="5 + itemIndex" class="border-bottom" fxLayout="row" fxLayoutAlign="end center">
        {{item.get('price')?.value | number:'1.2-2'}}
      </div>
      <div gdColumn="8" [gdRow]="5 + itemIndex" class="border-bottom" fxLayout="row" fxLayoutAlign="end center">
        {{item.get('net')?.value | number:'1.2-2'}}
      </div>
      <div gdColumn="9" [gdRow]="5 + itemIndex" class="border-bottom" fxLayout="row" fxLayoutAlign="end center">
        {{item.get('rate')?.value}}{{item.get('rate')?.value ? '%' : ''}}
      </div>
      <div gdColumn="10" [gdRow]="5 + itemIndex" class="border-bottom" fxLayout="row" fxLayoutAlign="end center">
        {{item.get('tax')?.value | number:'1.2-2'}}
      </div>
      <div gdColumn="11" [gdRow]="5 + itemIndex" class="border-bottom border-right" fxLayout="row"
           fxLayoutAlign="end center">
        {{item.get('gross')?.value | number:'1.2-2'}}
      </div>
    </ng-container>
  </ng-container>

  <div gdColumn="1 / span 11" [gdRow]="items.length + 5"><h1></h1></div>

  <div gdColumn="1 / span 6" [gdRow]="(items.length + 6) + '/ span ' + (totals.length + 5)" gdColumns="repeat(5, 1fr)"
       gdAlignColumns="start" class="p-0">
    <mat-form-field gdColumn="1 / span 2">
      <mat-label i18n="@@invoice.paymentDate">Payment date</mat-label>
      <input matInput formControlName="paymentDate" required type="date" readonly>
    </mat-form-field>
    <mat-form-field gdColumn="1 / span 2">
      <mat-label i18n="@@invoice.paymentType">Payment type</mat-label>
      <input matInput readonly value="Money transfer">
    </mat-form-field>
    <mat-form-field gdColumn="1 / span 3">
      <mat-label i18n="@@invoice.accountNumber">Account number</mat-label>
      <input matInput readonly [value]="seller?.accountNumber">
    </mat-form-field>
  </div>

  <div gdColumn="7" [gdRow]="items.length + 6"
       class="p-0 border-top border-left border-bottom table-header font-weight-bold" fxLayout="row"
       fxLayoutAlign="end center">
    <div class="mat-icon-button"></div>
  </div>
  <div i18n="@@invoice.net" gdColumn="8" [gdRow]="items.length + 6" fxLayout="row" fxLayoutAlign="end center"
       class="border-top border-bottom table-header font-weight-bold">Net
  </div>
  <div i18n="@@invoice.rate" gdColumn="9" [gdRow]="items.length + 6" fxLayout="row" fxLayoutAlign="end center"
       class="border-top border-bottom table-header font-weight-bold">Rate
  </div>
  <div i18n="@@invoice.tax" gdColumn="10" [gdRow]="items.length + 6" fxLayout="row" fxLayoutAlign="end center"
       class="border-top border-bottom table-header font-weight-bold">Tax
  </div>
  <div i18n="@@invoice.gross" gdColumn="11" [gdRow]="items.length + 6" fxLayout="row" fxLayoutAlign="end center"
       class="border-top border-bottom table-header border-right font-weight-bold">Gross
  </div>

  <ng-container formArrayName="totals" *ngFor="let total of totals.controls; let itemIndex=index">
    <ng-container [formGroupName]="itemIndex">
      <div gdColumn="7" [gdRow]="items.length + 7 + itemIndex" class="border-left border-bottom"
           fxLayout="row" fxLayoutAlign="end center"
           [class.font-weight-bold]="itemIndex === 0">
        {{total.get('label')?.value}}
      </div>
      <div gdColumn="8" [gdRow]="items.length + 7 + itemIndex" class="border-bottom"
           fxLayout="row" fxLayoutAlign="end center"
           [class.font-weight-bold]="itemIndex === 0">
        {{total.get('net')?.value | number:'1.2-2'}}
      </div>
      <div gdColumn="9" [gdRow]="items.length + 7 + itemIndex" class="border-bottom"
           fxLayout="row" fxLayoutAlign="end center"
           [class.font-weight-bold]="itemIndex === 0">
        {{total.get('rate')?.value}}
      </div>
      <div gdColumn="10" [gdRow]="items.length + 7 + itemIndex" class="border-bottom"
           fxLayout="row" fxLayoutAlign="end center"
           [class.font-weight-bold]="itemIndex === 0">
        {{total.get('tax')?.value | number:'1.2-2'}}
      </div>
      <div gdColumn="11" [gdRow]="items.length + 7 + itemIndex" class="border-bottom border-right"
           fxLayout="row" fxLayoutAlign="end center"
           [class.font-weight-bold]="itemIndex === 0">
        {{total.get('gross')?.value | number:'1.2-2'}}
      </div>
    </ng-container>
  </ng-container>

  <div gdColumn="7 / span 5" [gdRow]="items.length + 8 + totals.length"
       class="border-bottom border-right border-left"
       fxLayout="column" fxLayoutAlign="center end">
    <span i18n="@@invoice.total" class="form-label">To pay:</span>
    <span class="font-weight-bold mat-title mb-0">{{total?.value | currency}}</span>
  </div>

  <div gdColumn="7 / span 5" [gdRow]="items.length + 9 + totals.length"
       class="border-bottom border-right border-left"
       fxLayout="column" fxLayoutAlign="center end">
    <span i18n="@@invoice.totalWords" class="form-label">In words:</span>
    <span class="text-right">{{total?.value | currencyToWords}}</span>
  </div>

  <div gdColumn="1 / span 3" [gdRow]="items.length + 10 + totals.length" class="p-0">
    <div class="signature form-label" i18n="@@invoice.seller">Seller</div>
  </div>
  <div gdColumn="10 / span 2" [gdRow]="items.length + 10 + totals.length" class="p-0">
    <div class="signature form-label" i18n="@@invoice.buyer">Buyer</div>
  </div>

  <div gdColumn="1 / span 11" [gdRow]="items.length + 11 + totals.length" fxLayout="row" fxLayoutAlign="end"
       fxLayoutGap="1em" class="last">
    <button mat-raised-button type="button" i18n="@@common.cancel" (click)="back($event)">Cancel</button>
    <button mat-raised-button color="primary" type="submit" i18n="@@common.save" [disabled]="!invoiceForm.valid">Save
    </button>
  </div>
</form>
