<form [formGroup]="companyForm" (submit)="submitForm($event)" gdAreas="name name | accountNumber accountNumber | street street | zip city | tin tin | save save"
      gdColumns="4fr 8fr" gdGap="1em">
  <div gdArea="name">
    <mat-form-field>
      <mat-label>{{'company.name' | translate}}</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
  </div>
  <div gdArea="accountNumber">
    <mat-form-field>
      <mat-label>{{'company.accountNumber' | translate}}</mat-label>
      <input matInput formControlName="accountNumber" required mask="00 0000 0000 0000 0000 0000 0000" [showMaskTyped]="true">
    </mat-form-field>
  </div>
  <div gdArea="street">
    <mat-form-field>
      <mat-label>{{'company.street' | translate}}</mat-label>
      <input matInput formControlName="street" required>
    </mat-form-field>
  </div>
  <div gdArea="zip">
    <mat-form-field>
      <mat-label>{{'company.zip' | translate}}</mat-label>
      <input matInput formControlName="zip" required mask="00-000" [showMaskTyped]="true">
    </mat-form-field>
  </div>
  <div gdArea="city">
    <mat-form-field>
      <mat-label>{{'company.city' | translate}}</mat-label>
      <input matInput formControlName="city" required>
    </mat-form-field>
  </div>
  <div gdArea="tin">
    <mat-form-field>
      <mat-label>{{'company.tin' | translate}}</mat-label>
      <input matInput formControlName="tin" required mask="000-000-00-00" [showMaskTyped]="true">
    </mat-form-field>
  </div>
  <div gdArea="save" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1em">
    <button mat-raised-button type="button" (click)="back($event)">{{'common.cancel' | translate}}</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!companyForm.valid">{{'common.save' | translate}}</button>
  </div>
</form>
