<invoice-context-menu [addLabel]="'invoice.menu.add' | translate" addLink="/invoices/add">
</invoice-context-menu>

<invoice-page-header [title]="'invoice.months.title' | translate" [hint]="'invoice.months.hint' | translate" [list]="true"></invoice-page-header>
<invoice-grid-layout (contextmenu)="contextMenu.openMenu($event, null)">
  <invoice-dock-item text=".." icon="folder" link="../"></invoice-dock-item>
  <invoice-dock-item *ngFor="let month of months" [text]="month" [link]="['./', month]"
                     icon="folder"></invoice-dock-item>
</invoice-grid-layout>
