/* You can add global styles to this file, and also import other style files */
body, html
  margin: 0
  padding: 0
  height: 100%

.mat-form-field
  width: 100%

/* general styles for inputs in invoice form */

.invoice-form

  .mat-form-field-infix
    width: auto

  .invoice-item
    .mat-form-field-wrapper
      margin-bottom: -1.25em

    .mat-form-field-infix
      border-top: 0

  .invoice-company
    .mat-form-field-wrapper
      margin-bottom: -1em
